body{
  height: 7000px;
  overflow-x: hidden;
  background-color:whitesmoke;
  cursor: none;
  }
  .container{
    width: 100%;
    height: 100%;
    padding-top: 60px;
  }
 
.cursor{
  width: 50px;
  height: 50px;
  position: fixed;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
  transition: width .3s, height .3s;
  z-index: 30;
  
}
.cursor-inner{
  width: 10px;
  height: 10px;
  background:#333;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width .3s, height .3s;
  z-index: 1000;
}
.click{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: .5;
}

.logo {
  float: left;
  z-index: 1;
  position: fixed;
  margin-left: 3vw;
}

.logo img{
  height: 10%;
}

.menu-button{
 background-color:transparent;
 padding: 16px;
 margin-top: 35px;
 margin-right: 5vw;
 font-family: arial;
 font-size: 1rem;
 border: none;
}

.right-menu{
  right: 8px;
  position: fixed;
  z-index: 1;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

.dropdown-menu a{
  color: black;
  font-family: arial;
  font-size: 1rem;
  line-height: 2rem;
  padding: 12px, 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover{
  color:red;
}

.right-menu:hover .dropdown-menu{
  display: block;
}

.right-menu:hover .menu-button{
  background-color: transparent;
}
  
  .aboutUs img{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 30%;
    
    
  }
  .label{
    position:fixed;
    writing-mode: vertical-lr;
    left:60px;
    top:400px;
    display:inline;
    
    color: black;
    transform: rotate(180deg);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size:.7rem;
    letter-spacing: 1px;
    
  }
  
  .descrizione {
    position: absolute;
    top:100px;
    left:75%;
    
  }
  .descrizione img{
    height: 110%;
    position: relative;
    left: 5vw;
    
    
  }
  .textIntro {
    position: absolute;
    top: 20%;
    left: -40%;
    width: 100%;
    text-align: right;
    color:black;
    text-align: justify;
    letter-spacing: -1.5px;
    font-family: Arial;
    font-size: 1.5vw;
    line-height:130%;
    
    z-index: 1;
  }
 
 
  .team img{
    position: absolute;
    width: 60%;
    top:112%;
    margin-left: 7vw;
    

  }
  
 .dream h1{
   position: absolute;
   margin-left: 48%;
   margin-top: 67%;
   font-size: .8rem;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 4px;
 }
 .about{
   overflow-x: hidden;
 }
 .about img{
   position: absolute;
   width: 10%;
   left: 93%;
   top: 130%;
   
 }
 .about2 img{
  position: absolute;
  width: 10%;
  left: 93%;
  top: 350%;
  
}
  .box{
    position: absolute;
    top: 120vh;
    margin-left: 36%;
    padding: 40px;
  }

  .box h1{
    position: relative;
    top:50vh;
    right:120px;
    z-index: 10;
    font-size: 7rem;
    color:transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#444;
  }
  
  .box .card{
    position: relative;
    width: 480px;
    height:600px;
    background:linen;
    border-radius: 10px;
    overflow: hidden;
    

  }
  .box .card:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:#c9dbd3;
    clip-path: circle(200px at 80% 20%);
    transition: 0.5s ease-in-out;

  }
  .box .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  .box .card:after{
    
    position:absolute;
    top:30%;
    left:-20%;
    font-size: 12em;
    font-style: italic;

  }
  .imgBox img{
    width: 500px;
    
  }
   .griglia img{
     margin-top:20%;
     margin-left: 15%;
     width: 14vw;
    
  }
  .box .card .imgBox{
    position: absolute;
    top:50%;
    left: 15%;
    transform:translateY(-50%);
    z-index: 1;
    width:100%;
    transition: 0.5s;
    
  }
  .box .card:hover .imgBox{
    top: 25%;
    transform: translateY(0%);
  }
  .box .card .imgBox img{
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
  }



  .box2{
    position: absolute;
    top:200vh;
    margin-left: 20%;
    padding: 40px;
  }
  .box2 h1{
    position: relative;
    top:50vh;
    left:300px;
    z-index: 10;
    font-size: 7rem;
    color:transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#444;
  }
  
  .box2 .card2{
    position: relative;
    width: 480px;
    height:600px;
    background:rgb(217, 236, 232);
    border-radius: 10px;
    overflow: hidden;
    

  }
  .box2 .card2:before{
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   background:#d5c9db;
   clip-path: circle(200px at 80% 20%);
   transition: 0.5s ease-in-out;

  }
  .box2 .card2:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  .box2 .card2:after{
    
    position:absolute;
    top:30%;
    left:-20%;
    font-size: 12em;
    font-style: italic;

  }
  .imgBox2 img{
    width: 500px;
    margin-left: -8%;
    
  }
   .griglia2 img{
     margin-top: 20%;
     margin-left: 15%;
     width: 14vw;
    
  }
  .box2 .card2 .imgBox2{
    position: absolute;
    top:50%;
    left: 15%;
    transform:translateY(-50%);
    z-index: 1;
    width:100%;
    transition: 0.5s;
    
  }
  .box2 .card2:hover .imgBox2{
    top: 25%;
    transform: translateY(0%);
  }
  .box2 .card2 .imgBox2 img{
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
  }



  .box3{
    position: absolute;
    top: 280vh;
    margin-left: 50%;
    padding: 40px;
  }
  .box3 img{
    margin-left: -10%;
  }
  .box3 h1{
    position: relative;
    top:50vh;
    right:150px;
    z-index: 10;
    font-size: 7rem;
    color:transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#444;
  }
  
  .box3 .card3{
    position: relative;
    width: 480px;
    height:600px;
    background:rgb(214, 228, 231);
    border-radius: 10px;
    overflow: hidden;
    

  }
  .box3 .card3:before{
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   background:#8096a8;
   clip-path: circle(200px at 80% 20%);
   transition: 0.5s ease-in-out;

  }
  .box3 .card3:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  .box3 .card3:after{
    
    position:absolute;
    top:30%;
    left:-20%;
    font-size: 12em;
    font-style: italic;

  }
  .imgBox3 img{
    width: 500px;
    
  }
   .griglia3 img{
     margin-top:20%;
     margin-left: 15%;
    width: 14vw;
    
  }
  .box3 .card3 .imgBox3{
    position: absolute;
    top:50%;
    left: 15%;
    transform:translateY(-50%);
    z-index: 1;
    width:100%;
    transition: 0.5s;
    
  }
  .box3 .card3:hover .imgBox3{
    top: 25%;
    transform: translateY(0%);
  }
  .box3 .card3 .imgBox3 img{
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
  }


  .box4{
    position: absolute;
    top: 360vh;
    margin-left: 20%;
    padding: 40px;
  }
  .box4 img{
    margin-left: -7%;
  }
  .box4 h1{
    position: relative;
    top:50vh;
    left:350px;
    z-index: 2;
    font-size: 7rem;
    color:transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#444;
  }
  
  .box4 .card4{
    position: relative;
    width: 480px;
    height:600px;
    background:rgb(217, 236, 232);
    border-radius: 10px;
    overflow: hidden;
    

  }
  .box4 .card4:before{
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   background:#95bfc7;
   clip-path: circle(200px at 80% 20%);
   transition: 0.5s ease-in-out;

  }
  .box4 .card4:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  .box4 .card4:after{
    
    position:absolute;
    top:30%;
    left:-20%;
    font-size: 12em;
    font-style: italic;

  }
  .imgBox4 img{
    width: 500px;
    
  }
   .griglia4 img{
     margin-top:20%;
     margin-left:15%;
    width: 14vw;
    
  }
  .box4 .card4 .imgBox4{
    position: absolute;
    top:50%;
    left: 15%;
    transform:translateY(-50%);
    z-index: 1;
    width:100%;
    transition: 0.5s;
    
  }
  .box4 .card4:hover .imgBox4{
    top: 25%;
    transform: translateY(0%);
  }
  .box4 .card4 .imgBox4 img{
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
  }


  .box5{
    position: absolute;
    margin-top: 440vh;
    margin-left: 36%;
    padding: 40px;
  }
  .box5 img{
    margin-left: -5%;
  }
  .box5 h1{
    position: relative;
    top:50vh;
    right:200px;
    z-index: 2;
    font-size: 7rem;
    color:transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#444;
  }
  
  .box5 .card5{
    position: relative;
    width: 480px;
    height:600px;
    background:rgb(215, 212, 212);
    border-radius: 10px;
    overflow: hidden;
    

  }
  .box5 .card5:before{
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   background:#eee1c4;
   clip-path: circle(200px at 80% 20%);
   transition: 0.5s ease-in-out;

  }
  .box5 .card5:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  .box5 .card5:after{
    
    position:absolute;
    top:30%;
    left:-20%;
    font-size: 12em;
    font-style: italic;

  }
  .imgBox5 img{
    width: 500px;
    
  }
   .griglia5 img{
     margin-top:20%;
     margin-left:15%;
    width: 14vw;
    
  }
  .box5 .card5 .imgBox5{
    position: absolute;
    top:50%;
    left: 15%;
    transform:translateY(-50%);
    z-index: 1;
    width:100%;
    transition: 0.5s;
    
  }
  .box5 .card5:hover .imgBox5{
    top: 25%;
    transform: translateY(0%);
  }
  .box5 .card5 .imgBox5 img{
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
  }


  @media screen and (max-width: 1024px) {
  
    body{
      height: 5500px;
    }

    .logo img{
      height: 10vw;
    }
  
    .descrizione {
      position: absolute;
      top: 100px;
      left:75%;
      width: 30%;
    }
    .descrizione img{
      height: 60%;
    position: relative;
    left: 5vw;  
    }
    .textIntro {
      position: absolute;
      top: 20%;
      left: -40%;
      width: 100%;
      text-align: right;
      color:black;
      text-align: justify;
      letter-spacing: -0.5px;
      font-family: Arial;
      font-size: 1.9vw;
      line-height:130%;
      
      z-index: 1;
    }
   
   
    .team img{
      position: absolute;
      width: 60%;
      top:65%;
      margin-left: 13vw;
      
  
    }
    
   .dream h1{
     position: absolute;
     margin-left: 50%;
     margin-top: 95%;

   }
  .about img{
    top: 70%;
  }
  .about2 img{
   top: 140%;
 }
   .box{
     position: absolute;
     top: 60vh;
     margin-left: 25%;
     padding: 40px;
   }
   .griglia img{
    margin-top:20%;
    margin-left: 15%;
    width: 35vw;
   }
   .box2{
     position: absolute;
     top:120vh;
     margin-left: 25%;
     padding: 40px;
   }
   .griglia2 img{
    margin-top:20%;
    margin-left: 15%;
    width: 35vw;
   }
   .box3{
     position: absolute;
     top: 180vh;
     margin-left: 25%;
     padding: 40px;
   }
   .griglia3 img{
    margin-top:20%;
    margin-left: 15%;
    width: 35vw;
   }

   .box4{
     position: absolute;
     top: 240vh;
     margin-left: 25%;
     padding: 40px;
   }
   .griglia4 img{
    margin-top:20%;
    margin-left: 15%;
    width: 35vw;
   }

   .box5{
     position: absolute;
     margin-top: 300vh;
     margin-left: 25%;
     padding: 40px;
   }
   .griglia5 img{
    margin-top:20%;
    margin-left: 15%;
    width: 35vw;
   }
  
  }


  @media screen and (max-width: 700px) {
  body{
    height:100vh;
  }


    .navbar{
      background-color: whitesmoke;
      float: left;
      position: fixed;
      width: 100%;
      height: 80px;
      z-index: 100;
      top: 0;
      left: 0;
    }
    .logo img{
      height: 80px;
    }
    .menu-button{
      margin-top: 15px;
    }
    .dropdown-menu{
      background-color: whitesmoke;
    }

    .descrizione img{
      position: absolute;
      left: -40%;
      width: 60vw;
      height: 60vh;
    }
  
    .textIntro {
      position: absolute;
      top: 150px;
      left: -150%;
      width: 150%;
      text-align: right;
      color:black;
      text-align: justify;
      letter-spacing: -0.5px;
      font-family: Arial;
      font-size: 3.5vw;
      line-height:130%;
      
      z-index: 1;
    }
   
    .label{
      position:fixed;
      writing-mode: vertical-lr;
      left:10px;
      top:250px;
      display:inline;
      
      color: black;
      transform: rotate(180deg);
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size:.7rem;
      letter-spacing: 1px;
      
    }
   
    .team img{
      position: absolute;
      width: 60%;
      top:75%;
      margin-left: 13vw;
      
    }
    
   .dream h1{
     position: absolute;
     margin-left: 38%;
     margin-top: 170%;

   }
  .about img{
    top: 78%;
  }
  .about2 img{
   top: 200%;
 }
   .box{
     position: absolute;
     top: 70vh;
     margin-left: 4%;
     padding: 40px;
   }
   .box h1{
    position: relative;
    top:55vh;
    left:-20px;
    z-index: 10;
    font-size: 4rem;
  }
  
  .box .card{
    position: relative;
    width: 280px;
    height:400px;
  }
  .box .card:before{
    clip-path: circle(100px at 80% 20%);
  }
  .box .card:hover:before{
    clip-path: circle(200px at 80% -20%);
  }

  .imgBox img{
    width: 300px;
  }
   .griglia img{
     width: 60vw;
     margin-left: 10%;
    
  }

  .box2{
    position: absolute;
    top:135vh;
    margin-left: 4%;
    padding: 40px;
  }
  .box2 h1{
    position: relative;
    top:55vh;
    left:-20px;
    z-index: 10;
    font-size: 4rem;
  }
  .box2 .card2{
    position: relative;
    width: 280px;
    height:400px;
  }
  .box2 .card2:before{
   clip-path: circle(100px at 80% 20%);
  }
  .box2 .card2:hover:before{
    clip-path: circle(200px at 80% -20%);
  }

  .imgBox2 img{
    width: 300px;
  }
   .griglia2 img{
     margin-top: 20%;
     margin-left: 10%;
     width: 60vw;
   }
  .box3{
    position: absolute;
    top: 200vh;
    margin-left: 4%;
    padding: 40px;
  }

  .box3 h1{
    position: relative;
    top:55vh;
    left: -20px;
    z-index: 10;
    font-size: 4rem;
  }
  
  .box3 .card3{
    position: relative;
    width: 280px;
    height:400px;
  }
  .box3 .card3:before{
   clip-path: circle(100px at 80% 20%);
  }
  .box3 .card3:hover:before{
    clip-path: circle(200px at 80% -20%);
  }

  .imgBox3 img{
    width: 300px;
    
  }
   .griglia3 img{
     margin-left: 10%;
    width: 60vw;
    
  }

  .box4{
    position: absolute;
    top: 265vh;
    margin-left: 4%;
    padding: 40px;
  }
 
  .box4 h1{
    position: relative;
    top:55vh;
    left:-20px;
    z-index: 10;
    font-size: 4rem;
  }
  
  .box4 .card4{
    position: relative;
    width: 280px;
    height:400px;
  }
  .box4 .card4:before{
   clip-path: circle(100px at 80% 20%);
   

  }
  .box4 .card4:hover:before{
    clip-path: circle(200px at 80% -20%);
  }

  .imgBox4 img{
    width: 300px;
    
  }
   .griglia4 img{
     margin-left:10%;
    width: 60vw;  
  }

  .box5{
    position: absolute;
    margin-top: 330vh;
    margin-left: 4%;
    padding: 40px;
  }
 
  .box5 h1{
    position: relative;
    top:55vh;
    right:20px;
    z-index: 10;
    font-size: 4rem;
  }
  
  .box5 .card5{
    position: relative;
    width: 280px;
    height:400px;
  }
  .box5 .card5:before{
   clip-path: circle(100px at 80% 20%);

  }
  .box5 .card5:hover:before{
    clip-path: circle(200px at 80% -20%);
  }

  .imgBox5 img{
    width: 260px;
    
  }
   .griglia5 img{
     margin-left:10%;
    width: 60vw;
    
  }

  }