body{
overflow-x: hidden;
background-color:whitesmoke;
}
.container{
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
.logo {
  float: left;
  z-index: 1;
  position: fixed;
  margin-left: 3vw;
}

.logo img{
  height: 10%;
}

.menu-button{
 background-color:transparent;
 padding: 16px;
 margin-top: 35px;
 margin-right: 5vw;
 font-family: arial;
 font-size: 1rem;
 border: none;
}

.right-menu{
  right: 8px;
  position: fixed;
  z-index: 1;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

.dropdown-menu a{
  color: black;
  font-family: arial;
  font-size: 1rem;
  line-height: 2rem;
  padding: 12px, 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover{
  color:red;
}

.right-menu:hover .dropdown-menu{
  display: block;
}

.right-menu:hover .menu-button{
  background-color: transparent;
}
.cursor{
  width: 50px;
  height: 50px;
  position: fixed;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
  transition: width .3s, height .3s;
  z-index: 10000;
  
}
.cursor-inner{
  width: 10px;
  height: 10px;
  background:#333;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width .3s, height .3s;
  z-index: 1000;
}
.click{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: .5;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140vh;  
  cursor:none;
}

.grid-container {
  margin-top: 30vh;
  margin-left: 10vw;
  display: grid;
  grid-gap: 10px;
  padding: 50px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  align-items: flex-end;
  margin-right: 70px;
  
  
}

.menu ul li a{
  text-decoration: none;
  color:grey;
  
  
}
.menu ul li a:hover{
  color:palevioletred;
}

.grid-item1 {
  grid-column: 1 ;
  grid-row: 1 / 2;
}
.foto1 img{
  height: 24vw;
}



.grid-item2 {
  grid-column: 2;
  grid-row: 1;
  margin-top: 0px;
  margin-left: 0px;
   
}
.grid-item2 h1{
  font-size: 6vw;
  color:transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black; 
}
.grid-item2 h1:hover{
  color: #333;
  transition: .5s;
}

.grid-item3 {
  grid-column: 2 ;
  grid-row: 2;
  font-family: arial;
  color: #333;
  font-size:1.3vw;
  width:70%;
  margin-top:0px;
  margin-left:0px; 
}

#secondpage{
  margin-top: 30vh;
}
#thirdPage{
  margin-top: 40vh;
}
.grid-item-due1{
  grid-column: 2;
  grid-row: 1 / 2;
  
}
.foto2 img{
  height: 25vw;
  margin-left: -10%;
}
  
.grid-item-due2 {
  grid-column: 1;
  grid-row: 1;
 
}
.grid-item-due2 h1{
  font-size:6vw;
  margin-top: 10%;
  margin-left: 10%;
  color:transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black; 
}
.grid-item-due2 h1:hover{
  color: #333;
  transition: .5s;
}
.grid-item-due3 {
  grid-column: 1 ;
  grid-row: 2;
  
}

.grid-item-due3 p{
  font-size:1.3vw;
  width:70%;
  margin-top:5%;
  margin-left:10%;
  font-family: arial;
  color: #333;
}
.grid-item-tre1{
  grid-column: 1;
  grid-row: 1 / 2;
}
.foto3 img{
  height: 26vw;

}

.grid-item-tre2 {
  grid-column: 2;
  grid-row: 1;
  font-size:3em;

   
}
.grid-item-tre2 h1{
  font-size:6vw;
  margin-top: 10%;
  margin-left: 5%;
  color:transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black; 
}
.grid-item-tre2 h1:hover{
  color: #333;
  transition: .5s;
}
.grid-item-tre3 {
  grid-column: 2 ;
  grid-row: 2;
  font-family: arial;
  color: #333;
  font-size:1.3vw;
  width:70%;
  margin-top:0px;
  margin-left: 5%;
}


.image img{
  width:0%;
  height:auto;
  margin-left: 12%;
  margin-top: 8%;
  position: absolute;
}
.imagePlus img{
  width: 45%;
  right: 6%;
  position: absolute;
}
.imagePlus2 img{
  width: 25%;
  margin-left: 10vw;
  padding-left: 50px;
  position: absolute;
}
.imagePlus3 img{
  width: 25%;
  margin-top: 21%;
  margin-left: 10vw;
  padding-left: 50px;
  position: absolute;
}
.imageAndri1 img{
  width: 55%;
  margin-top: -5%;
  margin-left: 8vw;
  padding-left: 20px;
  position: absolute;
}
.imageAndri2 img{
  width: 40%;
  margin-top: 15%;
  margin-left: 55vw;
  
  position: absolute;
}
.imageGenni1 img{
  width: 47%;
  right: 8%;
  margin-top:-2%;
  position: absolute;
  padding-bottom: 10%;
}
.imageGenni2 img{
  width: 25%;
  margin-left: 14vw;
  margin-top:-2%;
  position: absolute;
}
.imageGenni3 img{
  width: 25%;
  margin-top: 20.6%;
  margin-left: 14vw;
  
  position: absolute;
}
.separa img{
  width: 50%;
  margin-top: 45%;
  margin-left: 30%;
}
.new h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  margin-left: 7%;
  margin-top: -2%;
  color: #222;
}
.new h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
  margin-left: 8%;
  color: #222;

}

.container1{
  
  height: 20%;
  width: 60%;
  position: relative;
  top: 60vh;
  left: 26vw;
  z-index: 1;
}
.app-image img{
  width: 46%; 
  margin-left: 32%;  
}
.app-image:hover{
  transform: scale(1.1);
  transition-duration: .7s;
    
}


@media screen and (max-width: 1024px) {

  #firstpage{
    height: 50vh;
  }


  #secondpage{
  margin-top: 400px;
  height: 1000px;
  }

  #thirdpage{
    margin-top: 250px;
    height: 1000px;
  }

  .container1{
  
    height: 20%;
    width: 60%;
    position: relative;
    top: 25vh;
    left: 22vw;
    z-index: 1;
  }
}

@media screen and (max-width: 700px) {

  .navbar{
    background-color: whitesmoke;
    float: left;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .logo img{
    height: 80px;
  }
  .menu-button{
    margin-top: 15px;
  }
  .dropdown-menu{
    background-color: whitesmoke;
  }
   .grid-container {
    margin-top: 10vh;
    margin-left: 10vw;
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap:40px;
    padding: 50px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 30%;
  }
  .grid-item1 {
    grid-column: 1 ;
    grid-row: 1;
  }
  .foto1 img{
    height: 40vw;
  }
  .grid-item2 {
    grid-column: 2;
    grid-row: 2;
  } 
  .grid-item2 h1{
    writing-mode: vertical-lr;
    margin-top: 15px;
    -webkit-text-stroke-width: 1px;
  }
  .grid-item3 {
    grid-column: 1 ;
    grid-row: 2;  
    font-size:3vw;
  }
  .grid-item3 p{
  width: 50vw;
  }
  
  .grid-item-due1 {
    grid-column: 1 ;
    grid-row: 1;
  }

  .foto2 img{
    height: 40vw;
  }
  .grid-item-due2 {
    grid-column: 2;
    grid-row: 2;
  } 
  .grid-item-due2 h1{
    writing-mode: vertical-lr;
    margin-top: 15px;
    -webkit-text-stroke-width: 1px;
  }
  .grid-item-due3 {
    grid-column: 1 ;
    grid-row: 2;  
  }
  .grid-item-due3 p{
  font-size:3vw;
  width: 50vw;
  margin-left:0; 
  }
  
  .grid-item-tre1 {
    grid-column: 1 ;
    grid-row: 1;
  }
  .foto3 img{
    height: 40vw;
  }
  .grid-item-tre2 {
    grid-column: 2;
    grid-row: 2;
  } 
  .grid-item-tre2 h1{
    writing-mode: vertical-lr;
    margin-top: 15px;
    -webkit-text-stroke-width: 1px;
  }
  .grid-item-tre3 {
    grid-column: 1 ;
    grid-row: 2;  
  }
  .grid-item-tre3 p{
  font-size:3vw;
  width: 50vw;
  margin-left:0; 
  }
  
  .container1{
  
    height: 10%;
    width: 60%;
    position: relative;
    top: 10vh;
    left: 1vw;
    z-index: 1;
  }

  .app-image img{
    width: 60%; 
    margin-left: 22%;
    position: absolute;
    top: 260vh;
  }

  .app-image:hover{
    transform: none;
    transition-duration: none;
      
  }

  #firstpage{
    height: 50vh;
  }


  #secondpage{
  margin-top: 280px;
  height: 50vh;
  }

  #thirdpage{
    margin-top: 320px;
    height: 50vh;
  }

  .imagePlus img{
    width: 45%;
    right: 10%;
    position: absolute;
  }
  .imagePlus2 img{
    width: 25%;
    margin-left: 1vw;
    padding-left: 50px;
    position: absolute;
  }
  .imagePlus3 img{
    width: 25%;
    margin-top: 21%;
    margin-left: 1vw;
    padding-left: 50px;
    position: absolute;
  }

}
